.wrapper {
    padding: 8px;
}

#map {
    height: 650px;
    width: 100%;
}

.action-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 0 none;
}

.action-button:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.no-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        max-height: 60px;
        padding: 8px;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        max-height: 0;
        padding: 0;
    }
}

.fadeOutUp {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-delay: 1s;
    max-height: 0;
    padding: 0;
}
